body{
    background-color:#FE0202;
}

h1 {
    position: absolute;
width: 584px;
height: 94px;
left: 428px;
top: 393px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 78px;
line-height: 94px;

letter-spacing: 0.03em;

color: #FFFFFF;
}
